/* Onex Primerica Color Palette */
:root {
  --v-anchor-base: #02579e;
  --v-primary-base: #063562;
  --v-secondary-base: #333333;
  --v-accent-base: #02579e;
  --v-error-base: #dd3333;
  --v-info-base: #3399ff;
  --v-success-base: #0b8d1f;
  --v-warning-base: #f39c12;
  --v-blue900-base: #032445;
  --v-blue800-base: #063562;
  --v-blue700-base: #02579e;
  --v-blue600-base: #0c6dca;
  --v-blue500-base: #3399ff;
  --v-blue400-base: #8bc0f4;
  --v-blue300-base: #c1defb;
  --v-blue200-base: #e2f0fe;
  --v-blue100-base: #f5faff;
  --v-green900-base: #093f11;
  --v-green800-base: #0f6c1d;
  --v-green700-base: #0b8d1f;
  --v-green600-base: #39ac4b;
  --v-green500-base: #6cd07b;
  --v-green400-base: #91e89e;
  --v-green300-base: #baf2c3;
  --v-green200-base: #d8f8dd;
  --v-green100-base: #eafbec;
  --v-cyan900-base: #034753;
  --v-cyan800-base: #0b646f;
  --v-cyan700-base: #008293;
  --v-cyan600-base: #19a1b3;
  --v-cyan500-base: #26bbcf;
  --v-cyan400-base: #67d1df;
  --v-cyan300-base: #91e8f3;
  --v-cyan200-base: #c4f7fd;
  --v-cyan100-base: #e0fcff;
  --v-grey900-base: #171717;
  --v-grey800-base: #333333;
  --v-grey700-base: #666666;
  --v-grey600-base: #8a8a8a;
  --v-grey500-base: #adadad;
  --v-grey400-base: #cccccc;
  --v-grey300-base: #e3e3e3;
  --v-grey200-base: #eeeeee;
  --v-grey100-base: #f5f5f5;
  --v-blueGrey900-base: #233b52;
  --v-blueGrey800-base: #2f4b65;
  --v-blueGrey700-base: #385d81;
  --v-blueGrey600-base: #5e7d9c;
  --v-blueGrey500-base: #809cb7;
  --v-blueGrey400-base: #b4c9db;
  --v-blueGrey300-base: #d2dee9;
  --v-blueGrey200-base: #e7edf3;
  --v-blueGrey100-base: #f5f7fa;
  --v-orange900-base: #654006;
  --v-orange800-base: #8e5d10;
  --v-orange700-base: #af7312;
  --v-orange600-base: #d0840b;
  --v-orange500-base: #f39c12;
  --v-orange400-base: #f6bc60;
  --v-orange300-base: #f9d090;
  --v-orange200-base: #fde3ba;
  --v-orange100-base: #fdf3e2;
  --v-red900-base: #651111;
  --v-red800-base: #901818;
  --v-red700-base: #bc1f1f;
  --v-red600-base: #dd3333;
  --v-red500-base: #ec5555;
  --v-red400-base: #f18383;
  --v-red300-base: #f6acac;
  --v-red200-base: #fccfcf;
  --v-red100-base: #fdecec;
  --v-black-base: #000000;
  --v-white-base: #ffffff;
}