@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,italic,700,700italic);
@import url(./color-palette.css);

:root {
  /******** Typography ********/
  --vp-font-family-base: "Open Sans", sans-serif;

  /******** Font for Code Snippet ********/
  --vp-font-family-mono: "Space Mono", Menlo, Monaco, Consolas, "Courier New",
  monospace;

  /******** Body text color ********/
  --vp-c-text-1: var(--v-grey800-base);

  /******** Link color for both light and dark mode ********/
  --vp-code-link-color: var(--v-blue600-base);
  --vp-code-link-hover-color: var(--v-blue700-base);
  --vp-c-brand-1: var(--v-blue600-base);
  --vp-c-brand-2: var(--v-blue700-base);

  /******** Shadows ********/
  --vp-shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --vp-shadow-2: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  --vp-shadow-3: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 8px 12px 0 rgba(0, 0, 0, 0.10);
  --vp-shadow-4: 0 4px 6px 0 rgba(0, 0, 0, 0.10), 0 12px 20px 0 rgba(0, 0, 0, 0.15);
  --vp-shadow-5: 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 15px 25px 0 rgba(0, 0, 0, 0.15);
  --vp-shadow-6: 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 20px 40px 0 rgba(0, 0, 0, 0.20);

  /******** HERO ********/
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #3e8ede 30%,
    #e2231a
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #e2231a 50%,
    #3e8ede 50%
  );
}

/******** Colors for dark mode ********/
.dark {
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-divider: var(--v-grey800-base);
}

/******** Sidebar Nav ********/
.VPNavBar.has-sidebar .container,
.VPNavBar.has-sidebar .title {
  background-color: var(--vp-nav-bg-color);
}
.VPNavBar.has-sidebar .title {
  border-bottom: 0;
}
.VPNavBarTitle > .title > SPAN {
  font-size: 18px;
}
.VPNavBar.has-sidebar .divider {
  background-color: var(--vp-c-gutter);
}
.Layout > .VPSidebar {
  padding-right: 0;
}
.VPSidebar > NAV > .group {
  width: 100%;
}
.VPSidebarItem.level-0 > .item[role="button"],
.VPSidebarItem.level-0 > .items > .VPSidebarItem.level-1 {
  padding-left: 22px;
}
.VPSidebarItem.level-0.has-active > .item[role="button"] {
  background-color: var(--v-blue700-base);
  color: var(--v-white-base);
}
.VPSidebarItem.level-0.has-active > .item[role="button"] > .text {
  color: var(--v-white-base);
}
.VPSidebarItem.level-0 > .item[role="button"] > .caret[role="button"] {
  margin-right: 0;
}
.VPSidebarItem.level-0.has-active > .item[role="button"] > .caret[role="button"] > .caret-icon {
  fill: var(--v-white-base);
}
.VPSidebarItem.level-0.has-active > .items > .VPSidebarItem.level-1.is-active > .item > .indicator {
  background-color: var(--v-blue600-base);
  border-radius: 50%;
  display: flex;
  align-items: center;
  left: -22px;
  margin-right: 4px;
  width: 18px;
  height: 18px;
}
.VPSidebarItem.level-0.has-active > .items > .VPSidebarItem.level-1.is-active > .item > .indicator:before {
  content: '';
  display: inline-block;
  border-bottom: 2px solid var(--v-white-base);
  border-right: 2px solid var(--v-white-base);
  top: 2px;
  left: 6px;
  position: absolute;
  height: 10px;
  width: 6px; 
  transform: rotate(45deg);
}
.VPSidebarItem.level-0 > .items > .VPSidebarItem.level-1 .text,
.VPDocAsideOutline.has-outline .outline-link:hover, 
.VPDocAsideOutline.has-outline .outline-link.active {
  color: var(--v-blue600-base);
}
.VPSidebarItem.level-0 > .items > .VPSidebarItem.level-1.is-link > .item > .link:hover > .text {
  color: var(--v-blue700-base);
}

/******** Home - Feature boxes ********/
.VPFeatures .item.grid-3 > A {
  position: relative;
}
.VPFeatures .item.grid-3 > A:before {
  content: '';
  background: linear-gradient(to right, #e2231a, #3e8ede 100%);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: absolute;
  width: 100%;
  height: 6px;
}
.VPFeature.link {
  border-radius: 4px;
}
.VPFeature.link:focus {
  box-shadow: var(--vp-shadow-1);
}

/******** Right sidebar of TOC ********/
.VPDoc.has-aside > .container > .content > .content-container {
  max-width: 100%;
}
.VPDoc.has-aside .aside-container {
  width: auto;
}

/******** General image rules ********/
IMG {
  max-width: 100%;
}
.image-border {
  border: thin solid var(--v-grey200-base);
}
.image-grid IMG {
  display: inline-flex;
}
.image-grid IMG[height="400"] {
  height: 400px;
}
.image-grid IMG.img-spacing {
  margin-right: 8px;
} 
.dark P.image-white-bg,
.dark IMG.image-white-bg {
  background-color: var(--v-white-base);
}

/******** General table rules ********/
.vp-doc TABLE {
  display: table;
  width: 100%;
}
.vp-doc TABLE TR TH {
  text-align: center;
}
.vp-doc TABLE TR {
  height: 50px;
}
